@page "/empresa/atualizada/{id:int}"
@using Dtos.Empresa
@inject HttpClient Http
@inject NavigationManager Navigation


<PageTitle>Editar Empresa</PageTitle>

@if(Empresa is null){
    <p>Carregando dados...</p>
}
else{

    <EditForm Model="@Empresa" OnValidSubmit="@EditarEmpresa">
    <label class="block mt-4">
        <span class="text-gray-600"> Razão Social </span>
        <InputText @bind-Value="Empresa.RazaoSocial" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Nome Fantasia </span>
        <InputText @bind-Value="Empresa.NomeFantasia" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Cnpj </span>
        <InputText @bind-Value="Empresa.Cnpj" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Cidade </span>
        <InputText @bind-Value="Empresa.Cidade" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Estado </span>
        <InputText @bind-Value="Empresa.Estado" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Endereço </span>
        <InputTextArea @bind-Value="Empresa.Endereco" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Telefone </span>
        <InputText @bind-Value="Empresa.Telefone" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Email </span>
        <InputText @bind-Value="Empresa.Email" class="cef-form-input"/>
    </label>
    <label class="block mt-4">
        <span class="text-gray-600"> Senha </span>
        <InputText type="password" @bind-Value="Empresa.Senha" class="cef-form-input"/>
    </label>

    @*Onde irá aparecer as mensagens de erro *@
    <div class="my-2 text-red-500">
       <ValidationSummary/>
    </div>

    <button class="cef-button-submit">Salvar</button>

    @*Parte onde será feito validações usando anotações *@
    <DataAnnotationsValidator/>

</EditForm>

}
@code{
    [Parameter]
    public int Id { get; set; }

    @* Propriedade de armazenação da empresa *@
    private EmpresaCreateUpdateDto Empresa { get; set; }

    @* Buscando os dados da empresa na API *@
    protected override async Task OnInitializedAsync(){
       
       Empresa = await Http.GetFromJsonAsync<EmpresaCreateUpdateDto>($"/empresas/{Id}"); 

    }
    private async Task EditarEmpresa()
    {
        @*Onde a requisição para a API salvar a empresa*@
        await Http.PutAsJsonAsync($"/empresas/{Id}", Empresa);
        Navigation.NavigateTo("/empresas");
    }
}